#footer {
	margin: 0 !important;

	#social-icons-container {
		float: right;
		padding-top: 30px;
	}

	.social-icons {

		li {
			height: 30px;
			margin-left: 15px;
			width: 30px;

			a {
				background-color: $dark-blue;
				border-radius: 50%;
				line-height: 2em;
				height: 100%;
				width: 100%;
			}
		}
	}
}