/* INTERNAL PAGES */

// .archive {

// 	#wrapper { /* FF3.6-15 */
// 		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(255,255,255,0) 42%);
// 		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 41%,rgba(255,255,255,0) 42%);
// 		background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 41%,rgba(255,255,255,0) 42%);
// 	}
// }

#title {
	margin-bottom: 4em;

	h1 {
		text-transform: none;
	}
}

main {
	margin-bottom: 4em;
	padding: 0 !important;
}

/* COURSE CATALOG */

.archive {

	.content-area {

		.sorting-table,
		.courses {
			display: inline-block;
		}

		.sorting-table {
			border-bottom: 1px solid $light-gray;
			margin-right: 2%;
			vertical-align: top;
			width: 23%;

			.title {
				margin: 40px 0 20px 10px;
			}

			.course-filter {

				h3 {
					border-top: 1px solid $light-gray;
					margin: 0;
					padding: 10px 0 10px 10px;
					position: relative;
					text-transform: none;
					transition: all .3s;
					
					&:hover {
						background-color: #f5f5f5;
						cursor: pointer;
					}

					&:after {
						content: '\f196';
						font-size: .8em;
						font-weight: 100;		
						position: absolute;
						right: 20px;
						top: 50%;
						transform: translate(0%, -50%);
					}

					&.active {

						&:after {
							content:'\f147';
						}
					}
				}
			}

			nav {
				max-height: 0;
				overflow: hidden;
				transition: .3s ease-in-out;

				&.show {
					max-height: 300px;				
				}

				ul {
					list-style: none;
					margin: 10px 0 0;
					padding: 0 0 10px 20px;

					li {
						display: block;

						a {
							display: block;
							font-size: 1.25em;

							&:hover {
								text-decoration: none;
							}
						}
					}
				}
			}
		}

		.courses {
			width: 74%;

			article {
				box-shadow: 0 0 10px #bbb;
				float: left;
				margin-bottom: 2%;
				margin-right: 2%;
				padding-bottom: 0 !important;
				position: relative;
				width: 31%;

				.subject_tag {
					background-color: $dark-gray;
					color: $white;
					font-size: 10px;
					left: 0;
					max-width: 50%;
					padding: 10px;
					position: absolute;
					text-transform: uppercase;
					top: 20px;
				}

				.course-link {
					height: 100%;
					position: absolute;
					width: 100%;
					z-index: 99;

					&:hover {

						+.entry-content {

							.course-title {

								&::before {
									top: -20px;
								}
							}
						}
					}
				}

				.course-thumbnail {
					min-height: 194px;
					min-width: 261px;
				}

				.course-title {
					min-height: 216px;
					padding: 40px 20px 20px;
					position: relative;

					&::before {
						background: $white;
						border-top-right-radius: 50%;
						border-top-left-radius: 50%;
						content: '';
						height: 40px;
						left: 0;
						position: absolute;
						top: 0;
						@include transition(top, .3s);
						width: 100%;
					}

					h4 {
						margin-bottom: 1.5em;
						text-transform: none;
					}

					p {
						font-size: .8em;
						font-weight: bold;
						line-height: 1.8em;
						margin-bottom: 0;
						text-transform: uppercase;

						i {
							font-size: 1.8em;
							margin-right: 15px;
						}

						&.learn {
							bottom: 20px;
							position: absolute;
						}
					}
				}
			}
		}
	}
}

.subject_tag {

	&.computer_science {
		background-color: $computer_science !important;
	}

	&.computer_programming {
		background-color: $computer_programming !important;
	}

	&.software_engineering {
		background-color: $software_engineering !important;
	}

	&.engineering {
		background-color: $engineering !important;
	}

	&.physics {
		background-color: $physics !important;
	}

	&.chemistry {
		background-color: $chemistry !important;
	}

	&.education {
		background-color: $education !important;
	}

	&.electronics {
		background-color: $electronics !important;
	}

	&.immunology {
		background-color: $immunology !important;
	}

	&.biology {
		background-color: $biology !important;
	}

	&.humanities {
		background-color: $humanities !important;
	}

	&.professional_education {
		background-color: $professional_education !important;
	}

	&.environmental_sciences {
		background-color: $environmental_sciences !important;
	}

	&.business {
		background-color: $business !important;
	}

	&.sports_management {
		background-color: $sports_management !important;
	}

	&.american_studies {
		background-color: $american_studies !important;
	}

	&.world_cultures {
		background-color: $world_cultures !important;
	}

	&.economics {
		background-color: $economics !important;
	}

	&.mathematics {
		background-color: $mathematics !important;
	}

	&.statistics {
		background-color: $statistics !important;
	}
}

.taxonomy-menu {

	.computer_science {
		color: $computer_science !important;
	}

	.computer_programming {
		color: $computer_programming !important;
	}

	.software_engineering {
		color: $software_engineering !important;
	}

	.engineering {
		color: $engineering !important;
	}

	.physics {
		color: $physics !important;
	}

	.chemistry {
		color: $chemistry !important;
	}

	.education {
		color: $education !important;
	}

	.electronics {
		color: $electronics !important;
	}

	.immunology {
		color: $immunology !important;
	}

	.biology {
		color: $biology !important;
	}

	.humanities {
		color: $humanities !important;
	}

	.professional_education {
		color: $professional_education !important;
	}

	.environmental_sciences {
		color: $environmental_sciences !important;
	}

	.business {
		color: $business !important;
	}

	.sports_management {
		color: $sports_management !important;
	}

	.american_studies {
		color: $american_studies !important;
	}

	.world_cultures {
		color: $world_cultures !important;
	}

	.economics {
		color: $economics !important;
	}

	.mathematics {
		color: $mathematics !important;
	}

	.statistics {
		color: $statistics !important;
	}
}

/* SINGLE COURSE */

.single-course,
.page-template-certification-template,
.single-professor,
.page-template-full-width-banner-page {

	.breadcrumb-list {
		margin-bottom: 1.5em;
	}

	#content,
	#content-full {

		p, 
		li {
			font-size: 1.3em;
		}
	}

	#content-header {
		background-size: cover;
		background-position: 50% 25%;
		box-shadow: 0 0 20px $black;
		min-height: 250px;
		padding: 80px 0;
		text-align: center;

		h2 {
			margin-bottom: 1.5em;
		}
	}

	#course-info {

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin-right: 5%;
				min-width: 15%;
				padding-left: 50px;
				position: relative;

				&:last-of-type {
					margin-right: 0;
				}

				span {
					display: block;
				}

				&::before {
					border-right: 1px solid $white;
					display: inline-block;
					font-size: 2.5em;
					padding-right: 10px;
					position: absolute;
					left: 0;
					top: 50%;
					-webkit-transform: translateY(-50%);
  		 					transform: translateY(-50%);
				}

				&.start {

					&::before {
						content: '\f017';
					}
				}

				&.professor {

					&::before {
						content: '\f007';
					}
				}

				&.workload {

					&::before {
						content: '\f040';
					}
				}

				&.certificate {

					&::before {
						content: '\f0a3';
					}
				}

				&.tuition {

					&::before {
						content: url(/wp-content/uploads/2016/08/icon_owl.png);
					}
				}
			}
		}
	}

	#professor {
		border-bottom: 1px solid $white;
		border-top: 1px solid $white;
		margin-top: 30px;
		padding: 30px 0;

		.headshot,
		.professorinfo {
			float: left;
		}

		.headshot {
			position: relative;
			width: 20%;
		}

		.professorinfo {
			width: 80%;
		}
	}

	.enroll-container {
		padding: 40px 0;
		text-align: center;
	}

	.sharify-container {

		ul {
			text-align: center;

			li {
				display: inline-block;
				float: none;
			}
		}
	}
}

.sharify-container {

	&::before {
		font-family: $font-stack;
		font-weight: bold;
		left: 10%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: auto;
		
		.single-course & {
			content: 'Share this course:';
		}
		.single-professor & {
			content: 'Share this professor:';
		}
	}
}

.headshot {

	img {
		border-radius: 50%;
	}
}

/* FAQ */

.su-tabs {
	background-color: transparent !important;
	border-radius: 0 !important;
	margin: 0 !important;
	padding: 0 !important;

	.su-tabs-nav {

		span {
			border-radius: 0 !important;
			color: $dark-blue;
			display: inline-block;
			font-weight: bold;
			height: 160px;
			line-height: 245px;
			margin: 0 !important;
			position: relative;
			text-align: center;
			text-transform: uppercase;
			transition: all .2s;
			width: 20%;

			&.su-tabs-current,
			&:hover {
				background: rgba(255,255,255,.5) !important;
				
				&::before {
					background-position: -100px;
				}
			}

			&.professors {

				&::before {
					content: '\f007';
				}
			}

			&.registration {

				&::before {
					content:'\f044';
					padding-left: 10px;
				}
			}

			&.access {

				&::before {
					content:'\f02d';
				}
			}

			&.lifelong {

				&::before {
					content:'\f19d';
				}
			}

			&.demand {

				&::before {
					content:'\f04b';
					padding-left: 15px;
				}
			}

			&::before {
				@include gradient-overlay(top, 37, 74, 132, 1, 77, 116, 173, 1);
				background-size: 1px 200px;
				border-radius: 50%;
				content: '';
				display: block;
				height: 100px;
				left: 50%;
				position: absolute;
				top: 15px;
				transform: translate(-50%, 0);
				transition: background .5s ease-out;
				width: 100px;
			}
		}
	}

	.su-accordion {

		.su-spoiler-title {
			padding-left: 0;
		}
	}
}

/* SPECIALIZATION PAGE */

.related-courses {
	margin: 30px 0 !important;

	.related-course {
		background-color: $dark-gray;
		float: left;
		height: 180px;
		margin-right: 1%;
		text-align: center;
		width: 19%;

		a {
			color: $white;
			display: block;
			height: 100%;
			line-height: 150px;
			padding: 15px 0;
			text-transform: uppercase;
			@include transition(background-color, .2s);
			width: 100%;

			&:hover {
				background-color: $red;
				text-decoration: none;
			}
		}

		&:last-of-type {
			margin-right: 0;
		}
	}	

	+ p {
		clear: both;
		margin-top: 30px;
	}

	&::after {
		clear: both;
		content: '';
		display: block;
	}
}

/* PROFESSOR PAGES */

.single-professor {

	main {
		margin-top: 50px;
	}

	.headshot {
		float: left;
		margin-bottom: 20px;
		margin-right: 20px;
	}
}