/* INTERNAL PAGES */

.archive {

	#wrapper { /* FF3.6-15 */
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(255,255,255,0) 42%);
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 41%,rgba(255,255,255,0) 42%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 41%,rgba(255,255,255,0) 42%);
	}
}

#title {
	margin-bottom: 4em;

	h1 {
		text-transform: none;
	}
}

main {
	margin-bottom: 4em;
	padding: 0 !important;
}

/* COURSE CATALOG */

.archive {

	.content-area {

		.sorting-table,
		.courses {
			display: inline-block;
		}

		.sorting-table {
			border-bottom: 1px solid $light-gray;
			margin-right: 2%;
			vertical-align: top;
			width: 23%;

			.title {
				margin: 40px 0 20px 10px;
			}

			.course-filter {

				h3 {
					border-top: 1px solid $light-gray;
					margin: 0;
					padding: 10px 0 10px 10px;
					position: relative;
					text-transform: none;
					transition: all .3s;
					
					&:hover {
						background-color: #f5f5f5;
						cursor: pointer;
					}

					&:after {
						content: '\f196';
						font-size: .8em;
						font-weight: 100;		
						position: absolute;
						right: 20px;
						top: 50%;
						transform: translate(0%, -50%);
					}

					&.active {

						&:after {
							content:'\f147';
						}
					}
				}
			}

			nav {
				max-height: 0;
				overflow: scroll;
				transition: .3s ease-in-out;

				&.show {
					max-height: 300px;				
				}

				ul {
					list-style: none;
					margin: 10px 0 0;
					padding: 0 0 10px 20px;

					li {
						display: block;

						a {
							display: block;
							font-size: 1.25em;

							&:hover {
								text-decoration: none;
							}
						}
					}
				}
			}
		}

		.courses {
			width: 74%;

			article {
				box-shadow: 0 0 10px $dark-blue;
				display: inline-block;
				margin-bottom: 2%;
				margin-right: 2%;
				padding-bottom: 0 !important;
				position: relative;
				width: 31%;

				.subject_tag {
					background-color: $red;
					color: $white;
					font-size: 10px;
					font-weight: bold;
					left: 0;
					max-width: 50%;
					padding: 10px;
					position: absolute;
					text-transform: uppercase;
					top: 20px;
				}

				.course-link {
					height: 100%;
					position: absolute;
					width: 100%;
					z-index: 99;

					&:hover {

						+.entry-content {

							.course-title {

								&::before {
									top: -20px;
								}
							}
						}
					}
				}

				.course-title {
					padding: 40px 20px 20px;
					position: relative;

					&::before {
						background: $white;
						border-top-right-radius: 50%;
						border-top-left-radius: 50%;
						content: '';
						height: 40px;
						left: 0;
						position: absolute;
						top: 0;
						@include transition(top, .3s);
						width: 100%;
					}

					h4 {
						margin-bottom: 1.5em;
						text-transform: none;
					}

					p {
						font-size: .8em;
						font-weight: bold;
						line-height: 1.8em;
						margin-bottom: 0;
						text-transform: uppercase;

						i {
							font-size: 1.8em;
							margin-right: 15px;
						}
					}
				}
			}
		}
	}
}

/* SINGLE COURSE */

.single-course {

	.breadcrumb-list {
		margin-bottom: 1.5em;

		+ p {
			font-size: 1.6em;
		}
	}

	#content-header {
		background-size: cover;
		background-position: 50% 50%;
		box-shadow: 0 0 20px $black;
		min-height: 250px;
		padding: 80px 0;
		text-align: center;

		h2 {
			margin-bottom: 1.5em;
		}
	}

	#course-info {

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin-right: 5%;
				min-width: 15%;
				padding-left: 50px;
				position: relative;

				&:last-of-type {
					margin-right: 0;
				}

				span {
					display: block;
				}

				&::before {
					border-right: 1px solid $white;
					display: inline-block;
					font-size: 2.5em;
					padding-right: 10px;
					position: absolute;
					left: 0;
					top: 50%;
					-webkit-transform: translateY(-50%);
  		 					transform: translateY(-50%);
				}

				&.start {

					&::before {
						content: '\f017';
					}
				}

				&.professor {

					&::before {
						content: '\f007';
					}
				}

				&.workload {

					&::before {
						content: '\f040';
					}
				}

				&.certificate {

					&::before {
						content: '\f0a3';
					}
				}

				&.tuition {

					&::before {
						content: url(/rice_online/wp-content/uploads/2016/08/icon_owl.png);
					}
				}
			}
		}
	}

	#professor {
		border-bottom: 1px solid $white;
		border-top: 1px solid $white;
		margin-top: 30px;
		padding: 30px 0;

		.headshot,
		.professorinfo {
			float: left;
		}

		.headshot {
			position: relative;
			width: 20%;

			img {
				border-radius: 50%;
			}
		}

		.professorinfo {
			width: 80%;
		}
	}

	.enroll-container {
		padding: 40px 0;
		text-align: center;
	}

	.sharify-container {

		ul {
			text-align: center;

			li {
				display: inline-block;
				float: none;
			}
		}
	}
}

/* FAQ */

.su-tabs {
	background-color: transparent !important;
	border-radius: 0 !important;
	margin: 0 !important;
	padding: 0 !important;

	.su-tabs-nav {

		span {
			border-radius: 0 !important;
			color: $dark-blue;
			display: inline-block;
			font-weight: bold;
			height: 160px;
			line-height: 245px;
			margin: 0 !important;
			position: relative;
			text-align: center;
			text-transform: uppercase;
			transition: all .2s;
			width: 20%;

			&.su-tabs-current,
			&:hover {
				background: rgba(255,255,255,.5) !important;
				
				&::before {
					background-position: -100px;
				}
			}

			&.professors {

				&::before {
					content: '\f007';
				}
			}

			&.registration {

				&::before {
					content:'\f044';
					padding-left: 10px;
				}
			}

			&.access {

				&::before {
					content:'\f02d';
				}
			}

			&.lifelong {

				&::before {
					content:'\f19d';
				}
			}

			&.demand {

				&::before {
					content:'\f04b';
					padding-left: 15px;
				}
			}

			&::before {
				@include gradient-overlay(top, 37, 74, 132, 1, 77, 116, 173, 1);
				background-size: 1px 200px;
				border-radius: 50%;
				content: '';
				display: block;
				height: 100px;
				position: absolute;
				top: 15px;
				transform: translate(50%, 0);
				transition: background .5s ease-out;
				width: 100px;
			}
		}
	}

	.su-accordion {

		.su-spoiler-title {
			padding-left: 0;
		}
	}
}