//Sidebar

.widget-wrapper {
	padding-top: 0;
}

.widget-title {
	border-bottom-color: $white !important;
	padding-top: 0;

	h3 {
		margin-top: 0;
	}
}

.gallery-item {
	margin-bottom: 40px;

	.gallery-caption {
		border-bottom: 1px solid $light-gray;
		border-left: 1px solid $light-gray;
		border-right: 1px solid $light-gray;
		padding: 30px 20px;
	}
}

/* SIDEBAR SEARCH */

.sidebar-search  {
	height: auto !important;
	width: 100% !important;

	input[type="text"] {
		margin-bottom: 0 !important;
		text-align: left;
		text-transform: none;
	}

	.ls-content-s {
		padding-right: 0 !important;
	}

	.ls-result {
		box-shadow: 5px 5px 5px #f5f5f5;
		height: auto !important;
		max-height: none !important;
		width: 100% !important;

		.ls-result-item {

			&:last-child {
				border-bottom: 0 none;
				margin-bottom: 0 !important;
			}
		}
	}
}