$font-stack: "neuzeit-grotesk", Helvetica, Arial, sans-serif;
$serif-font: "garamond-premier-pro", Garamond, "Times New Roman", serif;


//Colors

$black: black;
$white: white;
$dark-blue: #1e3769;
$twitter-blue: #3fa3ef;
$green: #86c03f;
$blue-gradient: rgba(30, 55, 105, .4);
$highschool: #9d6897;
$college: #80b2ba;
$career: #5690dd;
$lifelong: #77bbc6;